<div class="login-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" class="login-container-login" (ngSubmit)="onSubmit()">
    <div class="box">
      <p-floatLabel>
        <input id="username" type="text" pInputText formControlName="username"/>
        <label for="username">Username</label>
      </p-floatLabel>
    </div>
    <div class="box">
      <p-floatLabel>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
        ></p-password>
        <label for="password">Password</label>
      </p-floatLabel>
    </div>
    <div class="box">
      <p-button label="Login" type="submit"></p-button>
    </div>

  </form>
</div>
