.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 1em;
  }

  &-login{
    margin-top: 50px;

    .box {
      margin-top: 30px;
    }
  }
}
.p-inputtext {
  margin: 0;
  width: 100%;
}

.p-invalid.p-component > .p-inputtext{
  border-color: red;
  width: 100%;
}


.p-float-label {
  display: flex;
  width: 100%;
  position: relative;
  margin: 50px;
}


 .p-password {
   position: relative;
   display: inline-flex;
   width: 370px;
 }
:host ::ng-deep .p-float-label .p-password {
  width: 100%;
}
:host ::ng-deep .p-float-label .p-password .p-inputtext{
  width: 100%;
}
